html {background: url(http://www.gowallpaper.co.uk/media/catalog/product/r/a/rasch_cabin_wood_-_280418.jpg) no-repeat;
    background-size: cover;
margin: auto; 
padding: 25px;
    overflow:scroll;
    }

body {background-color: rgba(204,199,196,0.8);
    padding:0px 25px 25px 25px;
    border: solid rosybrown 5px;
}

a {color:rosybrown;
text-decoration: none;
font-weight:;}


    
header {background-image: url("design15png.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top:0.5px;
height: 585px;
width:auto;}

h1 {font-family: "Baskerville";
    text-shadow: 2px 2px rosybrown;
    font-size: 55pt;
    text-align: center;
    line-height: 25pt;
    
}

h2 {font-family: "Baskerville";
    font-size: 25pt;
    text-align: center;
    line-height: 20px;
    text-shadow: 2px 1px rosybrown;
}

h3 {font-family: "Baskerville";
    text-shadow: 2px 1px rosybrown;
font-size: 16pt;}

p {font-family: Bell;}

.sidebar { margin: 5pt;}

.summary {text-align: center;
    font-size: 14pt;
    font-family: Baskerville;
    margin: 5pt;
}

.preamble {border: dotted rosybrown 2px;
padding: 0pt 10pt 0pt 10pt;
    margin: 5pt;
}

.explanation {border: dotted rosybrown 2px;
padding: 0pt 10pt 0pt 10pt;
    margin: 5pt;
}


.participation {border: dotted rosybrown 2px;
padding: 0pt 10pt 0pt 10pt;
    margin: 5pt;}

.benefits {border: dotted rosybrown 2px;
padding: 0pt 10pt 0pt 10pt;
    margin: 5pt;}

.requirements {border: dotted rosybrown 2px;
padding: 0pt 10pt 0pt 10pt;
    margin: 5pt;}

footer {border: dotted rosybrown 2px;
padding: 0pt 10pt 0pt 10pt;
    margin: 5pt;
text-align: center;}